<div *ngIf="(comments$ | async) as comments">
    <section fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center">
        <div fxFlex="100%">
            <ul class="list-unstyled comment-list">
                <li *ngFor="let comment of comments">
                    <a class="text-dark font-weight-bold mr-1" [routerLink]="['/user', comment.user.userName]">
                        {{ comment.user.userName }}
                    </a>
                    <em>{{ comment.date | date:'dd-MM-yyyy HH:mm' }}</em>
                    <p class="break-word mb-2">{{ comment.text }}</p>
                </li>
            </ul>
        </div>
    </section>
    <section fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">

        <form [formGroup]="commentForm" (submit)="save()">

            <mat-form-field fxFlex="80%" fxFlex.xs="70%">
                <textarea formControlName="comment" matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="commentForm.invalid" type="submit" fxFlex="20%"
                fxFlex.xs="30%">
                Publish
            </button>

            <ap-vmessage text="Maximun size allowed is 300" *ngIf="commentForm.get('comment').errors?.maxlength">
            </ap-vmessage>
        </form>

    </section>
</div>