<mat-card class="inputs z-depth-3">

    <mat-card-title fxLayoutAlign="center">Register to embrace a new world!</mat-card-title>
    <mat-card-content>

        <form #form="ngForm" [formGroup]="signupForm" fxLayout="column" fxLayoutGap="3%">

            <div fxLayout="column" fxLayoutGap="-2.5%">
                <mat-form-field>
                    <input matInput #emailInput placeholder="Email" formControlName="email" autofocus>
                </mat-form-field>
                <mat-error
                    *ngIf="signupForm.get('email').errors?.required && (form.submitted || signupForm.get('email').touched)">
                    Email name is <Strong>required!</Strong>
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('email').errors?.email && (form.submitted || signupForm.get('email').touched)">
                    <Strong>Invalid</Strong> e-mail
                </mat-error>
            </div>

            <div fxLayout="column" fxLayoutGap="-2.5%">
                <mat-form-field>
                    <input matInput placeholder="Full Name" formControlName="fullName">
                </mat-form-field>
                <mat-error
                    *ngIf="signupForm.get('fullName').errors?.required && (form.submitted || signupForm.get('fullName').touched)">
                    Full name is <Strong>required!</Strong>
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('fullName').errors?.minlength && (form.submitted || signupForm.get('fullName').touched)">
                    <Strong>Mininum</Strong> length is 2
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('fullName').errors?.maxlength && (form.submitted || signupForm.get('fullName').touched)">
                    <Strong>Maximun</Strong> length is 40
                </mat-error>
            </div>

            <div fxLayout="column" fxLayoutGap="-2.5%">
                <mat-form-field>
                    <input matInput placeholder="User Name" formControlName="userName">
                </mat-form-field>
                <mat-error
                    *ngIf="signupForm.get('userName').errors?.required && (form.submitted || signupForm.get('userName').touched)">
                    User name is <Strong>required!</Strong>
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('userName').errors?.minlength && (form.submitted || signupForm.get('userName').touched)">
                    <Strong>Mininum</Strong> length is 2
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('userName').errors?.maxlength && (form.submitted || signupForm.get('userName').touched)">
                    <Strong>Maximun</Strong> length is 30
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('userName').errors?.lowerCase && (form.submitted || signupForm.get('userName').touched)">
                    Must be <strong>lower case</strong>
                </mat-error>
                <mat-error *ngIf="signupForm.get('userName').errors?.userNameTaken">
                    Username already <strong>taken</strong>
                </mat-error>

                <small *ngIf="signupForm.get('userName').valid" class="text-success"> User available</small>
            </div>

            <div fxLayout="column" fxLayoutGap="-2.5%">
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
                <mat-error
                    *ngIf="signupForm.get('password').errors?.required && (form.submitted || signupForm.get('password').touched)">
                    Password is <Strong>required!</Strong>
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('password').errors?.minlength && (form.submitted || signupForm.get('password').touched)">
                    <Strong>Mininum</Strong> length is 8
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('password').errors?.maxlength && (form.submitted || signupForm.get('password').touched)">
                    <Strong>Maximun</Strong> length is 18
                </mat-error>
                <mat-error
                    *ngIf="signupForm.get('password').errors?.userNamePassword && form.submitted">
                    Username and password must be <strong>different</strong>
                </mat-error>
            </div>

            <button mat-raised-button color="primary" (click)="signup()">
                Register
            </button>

        </form>

    </mat-card-content>

    <p>Already a user? <a [routerLink]="['']">Sign In!</a></p>

</mat-card>