img {
    max-width: 100%;
    width: 80%;
    height: 80%;    
}

.img-card {
    margin-top: 6%;
    margin-left: 5%;
}

@media screen and (min-width: 599px) {
    .login {
        margin-top: 5%;
        margin-right: 5%;
    }
}