<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a [routerLink]="['home']">ALURAPIC</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <div showIfLogged >
                    <a [routerLink]="['p', 'add']">
                        <mat-icon class="icons">backup</mat-icon> <span> Photo Upload</span>
                    </a>
                </div>
            </li>
            <li>
                <div *ngIf="(user$ | async) as user; else login">
                    <a (click)="logout()">
                        <mat-icon class="icons">account_circle</mat-icon> <span> {{ user.name }} (Logout)</span>
                    </a>
                </div>

                <ng-template #login>
                    <span class="navbar-text">
                        <a [routerLink]="['']">Please, login!</a>
                    </span>
                </ng-template>
            </li>
        </ul>

    </div>
    <div class="fixed-top">
        <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>
</mat-toolbar>