a {
    text-decoration: none;
    color: white;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icons{
    vertical-align: middle;
}
 
mat-toolbar{
    border-radius: 0px;
}

span {
    font-size: 70%;
}