<section fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-between center"
    *ngIf="(photo$ | async) as photo">

    <div fxFlex="50%" fxLayoutAlign="center">
        <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>
    </div>

    <div fxFlex="40%" class="inputs">

        <mat-card>

            <mat-card-title fxLayoutAlign="start">{{ photo.description }}</mat-card-title>

            <mat-card-content>

                <small>
                    <div>
                        <mat-icon (click)="liked(photo)" showIfLogged>favorite_border</mat-icon> {{ photo.likes }}
                        <mat-icon>comment</mat-icon> {{ photo.comments }}
                        <mat-icon photoOwnerOnly [ownedPhoto]="photo" (click)="remove()">delete</mat-icon>
                    </div>
                    <hr>
                </small>

                <ap-photo-comments *ngIf="photo.allowComments; else warnning" [photoId]="photoId">
                </ap-photo-comments>

                <ng-template #warnning>
                    <p>User has disabled comments for this photo</p>
                </ng-template>

            </mat-card-content>

        </mat-card>

    </div>

</section>